<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card signup-card">
        <div class="card-header">
          <h2 class="text-center">Signup</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="signupForm">
            <div class="form-group">
              <label for="firstName"
                >First Name<span class="text-danger font-weight-bold"
                  >*</span
                ></label
              >
              <input
                type="text"
                id="firstName"
                formControlName="firstName"
                class="form-control"
                minlength="3"
                maxlength="50"
                (keydown)="userService.disableSpace($event)"
              />
              <div
                *ngIf="
                  isSubmitted && fNameControl?.invalid && fNameControl?.touched
                "
              >
                <div
                  *ngIf="fNameControl?.errors?.['required']"
                  class="text-danger error-message"
                >
                  First name is required.
                </div>
                <div
                  *ngIf="fNameControl?.errors?.['minlength']"
                  class="text-danger error-message"
                >
                  First name should have atleast 3 characters.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName"
                >Last Name<span class="text-danger font-weight-bold"
                  >*</span
                ></label
              >
              <input
                type="text"
                id="lastName"
                formControlName="lastName"
                class="form-control"
                minlength="3"
                maxlength="50"
                (keydown)="userService.disableSpace($event)"
              />
              <div
                *ngIf="
                  isSubmitted && lNameControl?.invalid && lNameControl?.touched
                "
              >
                <div
                  *ngIf="lNameControl?.errors?.['required']"
                  class="text-danger error-message"
                >
                  Last name is required.
                </div>
                <div
                  *ngIf="lNameControl?.errors?.['minlength']"
                  class="text-danger error-message"
                >
                  Last name should have atleast 3 characters.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email"
                >Email<span class="text-danger font-weight-bold">*</span></label
              >
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
                maxlength="100"
                (keydown)="userService.disableSpace($event)"
              />
              <div
                *ngIf="
                  isSubmitted && emailControl?.invalid && emailControl?.touched
                "
              >
                <div
                  *ngIf="emailControl?.errors?.['required']"
                  class="text-danger error-message"
                >
                  Email is required.
                </div>
                <div
                  *ngIf="emailControl?.errors?.['pattern']"
                  class="text-danger error-message"
                >
                  Please enter a valid email address.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password"
                >Password<span class="text-danger font-weight-bold"
                  >*</span
                ></label
              >
              <div class="input-group">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  id="password"
                  formControlName="password"
                  class="form-control"
                  maxlength="15"
                  (keydown)="userService.disableSpace($event)"
                />
                <div class="input-group-append">
                  <span
                    class="input-group-text"
                    (click)="showPassword = !showPassword"
                  >
                    <i *ngIf="showPassword" ></i>
                    <i *ngIf="!showPassword" ></i>
                  </span>
                </div>
              </div>
              <div
                *ngIf="
                  isSubmitted &&
                  passwordControl?.invalid &&
                  passwordControl?.touched
                "
              >
                <div
                  *ngIf="passwordControl?.errors?.['required']"
                  class="text-danger error-message"
                >
                  Password is required.
                </div>
                <div
                  *ngIf="passwordControl?.errors?.['pattern']"
                  class="text-danger error-message"
                >
                  Please enter a valid password.
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <p class="dont-have-text">
                Already have an account <span routerLink="/login">Login</span>
              </p>
            </div>
            <div class="col-12 text-center">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="onSubmit()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
