<div class="row text-centre">
  <div class="col-6 offset-3">
    <form [formGroup]="bookForm">
      <div class="form-group">
        <label for="name"> Name </label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          minlength="3"
          maxlength="100"
        />
        <div
          *ngIf="
            isSubmitted &&
            bookForm.get('name')?.invalid &&
            bookForm.get('name')?.touched
          "
          class="text-danger error-message"
        >
          please enter vaild value
        </div>
      </div>
      <div class="form-group">
        <label for="author"> Author </label>
        <input
          type="text"
          id="author"
          formControlName="author"
          class="form-control"
          minlength="3"
          maxlength="100"
        />
        <div
          *ngIf="
            isSubmitted &&
            bookForm.get('author')?.invalid &&
            bookForm.get('author')?.touched
          "
          class="text-danger error-message"
        >
          please enter vaild value
        </div>
      </div>
      <div class="form-group">
        <label for="description"> Description </label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          minlength="3"
          maxlength="200"
        />
        <div
          *ngIf="
            isSubmitted &&
            bookForm.get('description')?.invalid &&
            bookForm.get('description')?.touched
          "
          class="text-danger error-message"
        >
          please enter vaild value
        </div>
      </div>
      <div class="form-group">
        <label for="publisher"> Publisher </label>
        <input
          type="text"
          id="publisher"
          formControlName="publisher"
          class="form-control"
          minlength="3"
          maxlength="100"
        />
        <div
          *ngIf="
            isSubmitted &&
            bookForm.get('publisher')?.invalid &&
            bookForm.get('publisher')?.touched
          "
          class="text-danger error-message"
        >
          please enter vaild value
        </div>
      </div>
      <div class="form-group">
        <label for="price"> Price </label>
        <input
          type="number"
          id="price"
          formControlName="price"
          class="form-control"
          min="1"
          max="999999"
        />
        <div
          *ngIf="
            isSubmitted &&
            bookForm.get('price')?.invalid &&
            bookForm.get('price')?.touched
          "
          class="text-danger error-message"
        >
          please enter vaild value
        </div>
      </div>
      <div class="form-group">
        <label for="total_pages"> Total Pages </label>
        <input
          type="number"
          id="total_pages"
          formControlName="total_pages"
          class="form-control"
          min="1"
          max="999999"
        />
        <div
          *ngIf="
            isSubmitted &&
            bookForm.get('total_pages')?.invalid &&
            bookForm.get('total_pages')?.touched
          "
          class="text-danger error-message"
        >
          please enter vaild value
        </div>
      </div>
    </form>
    <div class="row text-centre">
      <div class="col-6 offset-5">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
