/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";


.error-message {
  font-size: 12px;
  font-weight: 600;
}

label,
p {
  font-size: 15px;
  font-family: auto;
}
button {
  font-family: auto;
}
h2 {
  font-family: auto;
}
